body
{
	background-color: #400000;
	margin: -3% 0;
}

h1
{

}

h2
{

}

h3
{

}

h4
{

}

p
{

}

IMG.displayed 
{
	opacity: 0.2;
    display: block;
    margin-left: auto;
    margin-right: auto 
}

blockquote
{
	margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    width: 18em;
    text-align: center;
}

p.clear
{
clear:both;
}

#wrapper
{
	font-family: Helvetica, cursive;"Comic Sans MS", "Comic Sans", cursive;
	font-size: 1em;
	width: 80%;
	padding: 5%;
    border-style: groove ridge ridge groove;
    border-width: thick;
    border-radius: 25%;
	border-color: #B29600;
	box-shadow: 0 0 2em 1em black;
	margin: 0 auto;
	color: 500020;
	text-shadow: -1px 1px 1px #400000;
	background-color: D0A669;
}