<!DOCTYPE html>

{% load staticfiles %}

<html>
	<head>
		<title>retro personal page || Nehemiah Newell</title>
    <link rel="stylesheet" href="{% static "css/aboutStyle.css" %}"/>
	</head>
	<body>
		<div class="wrapper">
		<section>
			<h3>About me</h3>
			<p>Hello everyone, my name is Nehemiah Evan Newell and I'm a Oregon native, born in Eugene Oregon while my parents lived in Student Married Housings. I've lived in the greater Portland Area for most of my life, and I recently graduated with a ASS degree from PCC. I've been around technology all my life, and have always liked it.</p>
		</section>
		</div>
	</body>
</html>