<!DOCTYPE html>

{% load staticfiles %}

<html>
	<head>
		<title>retro personal page || Nehemiah Newell</title>
    <link rel="stylesheet" href="{% static "css/aboutStyle.css" %}"/>
	</head>
	<body>
		<div class="wrapper">
		<section>
			<h3>Table of Contents</h3>
			<ul>
				<li><a href="about/">about</a></li>
				<li><a href="forum/">forum</a></li>
                <li>javapics</li>
					<ul>
						<li><a href="javapic/">index</a></li>
						<li><a href="javapic/join.html">join</a></li>
						<li><a href="javapic/gallery.html">gallery</a></li>
					</ul>
                <li>javapics with query</li>
                    <ul>
						<li><a href="javapic_jquery/">index</a></li>
						<li><a href="javapic_jquery/join.html">join</a></li>
						<li><a href="javapic_jquery/gallery.html">gallery</a></li>
					</ul>
				<li><a href="zen_mockup/">zen mockup</a></li>
			</ul>
		</section>
		</div>
	</body>
</html>